.container {
	width: 95%; // not full width as specified in design
	max-width: 1800px; // make sure the layout grid is not exceeding too large for 4k screens
	margin: 0 auto; // auto fill the rest 5% as margin
	position: relative;
	// padding: 0 20px; // make sure content is not touching the screen (not required since we adjusted width)
}

body {
	&.in-transition {
		transition: transform 400ms ease; // helper class can be used for smooth scrolling
	}
}

#wrapper {
	overflow: hidden;
}

// Common Style for Font and global font sizing
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong,
button,
code,
cite,
label,
div {
	@extend %primary-font;
	@include border-box;
}

header,
footer,
section,
article,
ul,
li {
	@include border-box;
}